.category {
    padding: 1rem .5rem;

    .category-cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(10%, 45%));
        gap: 1rem;
        margin-top: 2rem;

        .card-category {
            background-color: var(--color-bg);
            padding: 1.5rem;
            display: flex;
            gap: 6rem;
            flex-direction: column;
            border-radius: 1rem;
            color: var(--color-primary-soft);
            transition: .3s all ease;

            &:hover {
                background-color: var(--color-secondary);
                box-shadow: var(--shadow-soft);
            }
            
            .title-card {
                font-size: 1.8rem;
                text-transform: uppercase;
                font-weight: 600;

            }
            
            .sub-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: .8rem;
                font-weight: 300;
            }

            .personalizada {
                font-size: 1.4rem;
            }
        }
    }
}

@media (min-width: 1024px) { 
    .category {
        padding: 2rem 10rem;
        
        .category-cards {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;

            .card-category {
                max-width: 50%;
                min-width: 16%;
                height: 270px;
                justify-content: space-between;
            }
        }
    }
}