.releases {
    background-color: var(--color-bg);
    
    .title-main {
        color: var(--color-primary-soft);
    }

    .cards-shirts {
        display: grid;
        grid-template-columns: repeat(2, minmax(10%, 45%));
        gap: 1rem;
        margin-top: 2rem;
        justify-content: center ;
        border-radius: .5rem 0rem 0 .5rem ;

        .card-shirt {
            border-radius: .5rem;
            background-color: var(--color-primary-soft);
            
            img {
                border-radius: .5rem .5rem 0 0 ;
                width: 100%;
                object-fit: cover;
                
                animation: zoomShirt;
                animation-timeline: view();
                animation-range: entry 0% cover 40%;

            }
            .info-shirt {
                max-width: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                flex-wrap: wrap;
                background-color: var(--color-text);
                border-radius: .5rem ; 

                .category-shirt {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-family: var(--font-lexend);
                    color: var(--color-text-soft);
                }   

                .about-shirt {
                    max-width: 250px;
                    flex-wrap: wrap;
                    font-size: 1.3rem;
                }

                .price-shirt {
                    display: flex;
                    gap: 1rem;
                    font-size: 1.2rem;
                    align-items: center;
                    
                    .discount {
                        font-size: 1rem;
                        color: var(--color-text-muted);
                        text-decoration: line-through;
                    }
                }

                .shirt-sizes {
                    max-width: 100%;
                    display: flex;
                    gap: .5rem;
                    flex-wrap: wrap;

                    li {
                        color: var(--color-text-muted);
                        font-size: .8rem;
                        text-transform: uppercase;
                        border: 1px solid var(--color-text-muted);
                        padding: .2rem .5rem;
                        border-radius: .2rem;
                    }
                }

            }
        }

    }

    .nav-section {
        text-align: center;
        height: 15vh;
        
        p {
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 300;
            color: var(--color-primary-soft);
            margin: 3rem 0;
        } 

        a {
            margin: 2rem 0;
            

            animation: btnZoom;
            animation-timeline: view();
            animation-range: entry 0% cover 10%;
        }
    }
}

@keyframes zoomShirt{
    from {
        scale: 0.5;
    }

    to {
        scale: 1;
    }

}

@keyframes btnZoom{
    from {
        scale: 0.5;
    }

    to {
        scale: 1;
    }

}

@media (min-width: 1024px) { 
    .releases {
        width: 100%;

        .title-main {
            padding: 2rem 10%;
        }
        
        .cards-shirts {
            width: 80%;
            margin: 0 auto;
            overflow: hidden;

            display: flex;
            justify-content: space-between;
            margin-top: 2rem; 
            border-radius: .5rem;

            
            .card-shirt {
                max-width: 24.1%;
                min-width: 24%;
                
                .card-link {
                    min-width: 100%;
                    max-width: 100%;

                    img {
                        width: 363px;
                    }
                }
            }
        }  
    }
}